<%- include("header",{data:mes,datalen:datalen})-%>
  <link href="css/home.css" rel="stylesheet">
  <div class="container my-2" style="margin-right: 0px; margin-left: 15rem;">
    <div class="text animate-charcter ">
      <h2 style="margin-left: 270px;">
        CONRATULATIONS

        </h5>

    </div>
    <h1 style="margin-left: 20.5rem">
      Welcomes

    </h1>

    <div
      style="background-color:rgba(199, 169, 38, 0.801) ; margin-right: 25rem; margin-left: 10rem; text-align: center; margin-bottom: 20px;"
      class="my-2">
      <b> New board of directors</b>
    </div>
    </h2>

    <% for(let count=0; count < 2; count++ ){ %>


      <% if(typeof winarr !=='undefined' ){ %>
        <div class="card mx-4 align-items-center" style="width: 50rem; height:33rem; ">


          <div class="card-body my-1">
            <div class="container my-5">
              <div class="row">
                <div class="col-sm">
                  <img src="<%=winarr[count].image%>" style="height: 20rem; width:20rem">
                </div>

                <div class="col-sm my-3">
                  <div class="text-primary">
                    <h2>
                      <%= winarr[count].name%><br></h1>

                  </div>


                  <div class="my-3">

                    <%= winarr[count].description %>
                  </div>


                </div>

              </div>

            </div>
          </div>
        </div>



        <% } %>

          <%# will output the numbers 1-100 %>
            <% } %>


  </div>
  </body>
  <%- include("footer")-%>